<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<ul class="nav nav-pills nav-fill" style="margin-left: 233px; margin-right: 233px">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/search">Search</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="/trends">Trends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/explore">Explore</a>
    </li>
    
</ul>

<br>


<!-- <form id="idForm" action="http://127.0.0.1:5000/get_author" method="GET">
  
  <input type="text" id="name" name="name"  required><br><br>
  <input type="submit" value="Submit">
</form>  -->

<form id="idForm" action="http://127.0.0.1:5000/get_papers" method="GET">
    <div class="input-group mb-3">
    <a class="nav-link logo" href="/"><h1>PaperMiner</h1></a>
    <input type="text" id="keyword" name = "keyword" style="margin-left: 20px; height: 58px" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append" style="margin-right: 130px">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">search</button>
        
    </div>
    <label style="font-size: 26px; padding-top: 7px">Limit:</label>
    <div class="input-group-append" style="margin-left: 8px; margin-right: 100px">
        <select id="num_to_show" name="num_to_show" class="bootstrap-select">
            <option value="10" selected="selected">10 pages</option>
            <option value="20">20 pages</option>
            <option value="50">50 pages</option>
            <option value="100">100 pages</option>
            </select>
    </div>
    </div>
</form>

<% var len = 10 %>

<script>

    jQuery.support.cors = true;
    $("#idForm").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');

    $.ajax({
        type: "GET",
        url: url,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
            // TODO, render the page instead of just alert
            console.log(data);
            len = data.length;
            var ret = data[0].date;
            //alert(len); // show response from the php script.
            $("#list").empty();
            $.each(data, function (index, d) {
                
                $("#list").append(
                    '<a href="' + d.url + '" class="list-group-item list-group-item-action"><div class="d-flex w-100 justify-content-between"><h3 class="mb-3" style="color:rgb(67, 126, 236)">' + d.title + '</h3><small class="text-muted">' + d.date + '</small></div><p class="mb-2" style="font-size: 22px; font-style: italic">' + d.authors + '</p><p class="mb-2" style="font-size: 22px">' + d.abstract + '</p></a>'
                );
            })
        }
        });
});
</script>

<br>
<br>
<p id="test"></p>
<div id="list" class="list-group">
  
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>