body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  color: black;
}

.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.legend {
  padding: 4px;
  font: 11px sans-serif;
}

#hot_topics{
  font-family: sans-serif;
  font-size: 24px;
  margin-left: 850px;
  font-weight: bold
}